* {
    margin: 0;
    padding: 0;
}
div {
    display: flex;
    box-sizing: border-box;
}
.border {
    border: 2px solid darkred;
}
.b_ground_c_d {
    background: lightseagreen;
       }
.height_a_e {
    height: 100px;
    background: palevioletred;
}
.width {
    width: 100%;
}

.text {
    justify-content: center;
    align-items: center;
    font-size: 33px;
    color: black;
}
.r_gap {
    row-gap: 5px;
}
.flex-wrap {
    flex-wrap: wrap;
}
.wrap {
    width: 700px;
    margin: 0 auto;
    column-gap: 5px;
}
.wrap_box_b {
    width: 25%;
}
.box_b {
    height: 450px;
    background: #229b02;
}
.wrap_box_c_d {
    width: 74.25%;
}