html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Tinos', serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

}
.link {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;

}
.header {
  height: 100vh;
  background: url("../image/bg.png") no-repeat center/cover;
}
.header__top {
  padding-top: 50px;
  padding-left: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.header__menu {
  display: flex;
  padding-right: 165px;
}
.nav__link {
  padding-right: 16px;
}
.nav__link img {
  width: 15px;

}
.nav {
  display: flex;
  padding-top: 20px;

}
.nav__links  {
  display: flex;

}
.nav__link-one {
  padding-right: 23px;
}
.nav__link-two {
  padding-right: 20px;
}
.nav__link-three  {
  padding-right: 25px;
}
.nav__link-four {
  padding-right: 35px;
}
.header__contact {
  display: flex;
  align-items: center;
}
.contact__wrap {
  flex-direction: column;
  width: 155px;
  justify-content: center;
  align-items: center;
  padding-left: 22px;
  padding-right: 45px;
  border-left: 2px solid #FFFFFF;
}
.contact__wrap p {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  padding-left: 12px;

}
.header__phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.header__button {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  height: 47px;
  padding: 14px 19px 14px 18px;
  background-color: #FF7400;
}
.header__text {
  font-style: normal;
  font-weight: normal;
  color: #D67E35;
  margin-top: 204px;
}
.header__text h2 {
  font-size: 50px;
  line-height: 57px;
  margin-left: 199px;

}
.header__text h1 {
  font-size: 80px;
  line-height: 92px;
  margin-left: 175px;
}
.header__text p {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-left: 271px;
}
.header__text p::before,
.header__text p::after {
  content: "";
  display: block;
  width: 61px;
  height: 2px;
  background-color: #C4C4C4;
}
.header__text p::before {
  margin-right: 8px;
}
.header__text p::after {
  margin-left: 8px;
}
.button__wrap {
  margin-left: 356px;
  margin-top: 21px;
}


.mobile_button {
  display:none;
  width: 30px;
  flex-direction: column;
  row-gap: 4px;
}
.mobile_button div {
  height: 3px;
  background: #FF7400;
  border-radius: 50px;
}
.another__text {
  display: none;
}
